body {
    margin: 0px;
    padding: 0px;
    background-image: url(../img/pattern.jpg);
    font-family: serif;
}

.wrap {
    width: 50%;
    padding: 15px;
    margin: 100px auto;
    background: #fff;
    border: 1px solid black;
}