body {
    margin: 0px;
    padding: 0px;
    background-image: url(../img/pattern.jpg);
    font-family: serif;
}

.wrap {
    width: 50%;
    padding: 20px;
    margin: 50px auto;
    background: #fff;
    border: 1px solid black;
}

.wrap h1 {
    text-align: center;
}

ul li {
    list-style-type: none;
}

form .table {}