body {
    margin: 0px;
    padding: 0px;
    background-image: url(../img/pattern.jpg);
}

.header_menu {
    background-color: white;
}

#id {
    float: left;
}

nav {
    float: right;
}

nav a {
    float: left;
}

.header_menu a {
    padding: 15px;
    font-weight: 700;
    list-style-type: none;
    color: black;
}